<form action="/" method="POST">
  <div>
    <input type="text" class="form-control" id="URLinput" placeholder="Input URL here"
      style="background-color: #F5F5F5">
  </div>
  <div class="mt-4">
    <button type="submit" class="btn btn-outline-primary d-block mx-auto w-50">Shorten</button>
  </div>
</form>